@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-Black.woff2);
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: AlegreyaSans-BlackItalic;
  src: url(../fonts/AlegreyaSans-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-Bold.woff2);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-ExtraBold.woff2);
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-ExtraBoldItalic.woff2);
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: AlegreyaSans-Italic;
  src: url(../fonts/AlegreyaSans-Italic.woff2);
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-LightItalic.woff2);
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-Medium.woff2);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-Regular.woff2);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-Thin.woff2);
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-ThinItalic.woff2);
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: MuseoSansCyrl;
  src: url(../fonts/MuseoSansCyrl.woff2); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

body, html {
  font-family: AlegreyaSans;
  font-weight: 400;
  font-style: normal; }

.wrapper {
  min-width: 1100px;
  overflow: hidden; }

.container {
  width: 1100px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

button {
  cursor: pointer; }

.introduction {
  height: 650px;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  background-color: #61c4d9; }
  .introduction__container {
    position: relative;
    padding-left: 80px; }
  .introduction__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 80px;
    margin-bottom: 100px; }
  .introduction__leaf, .introduction__chocco, .introduction__pattern, .introduction__berry {
    position: absolute; }
  .introduction__pattern {
    right: 0;
    bottom: -20px;
    z-index: 0; }
  .introduction__chocco {
    right: 60px;
    top: 40px;
    z-index: 50; }
  .introduction__leaf {
    bottom: -70px;
    right: 30px;
    z-index: 100; }
  .introduction__berry {
    bottom: -60px;
    right: 90px;
    z-index: 150; }

.logo {
  color: #fff;
  font-family: MuseoSansCyrl;
  font-size: 24px;
  line-height: 0.88;
  margin-right: 25px; }

.navbar {
  margin-right: 45px;
  z-index: 500; }
  .navbar__list {
    width: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navbar__link {
    font-size: 18px;
    color: #fff; }

.phone {
  position: relative;
  font-size: 24px;
  color: #fff;
  z-index: 500; }
  .phone:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: url("../img/phone.png") center center no-repeat;
    top: 7px;
    left: -20px; }

.order {
  width: 400px;
  margin-bottom: 70px; }
  .order__head {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    line-height: 1;
    margin-bottom: 20px; }
  .order__description {
    font-size: 21px;
    color: #fff;
    margin-bottom: 30px; }
  .order__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border-radius: 60px;
    background-color: #fff;
    font-weight: 800;
    color: #0f5a47;
    -webkit-box-shadow: 0px 20px 34px -16px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 20px 34px -16px rgba(0, 0, 0, 0.66); }

.product-features {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-features__item {
    position: relative;
    width: 85px;
    font-size: 16px;
    color: #fff; }
  .product-features__item:not(:last-child) {
    margin-right: 100px; }
  .product-features .product-features__leaf:before, .product-features .product-features__truck:before, .product-features .product-features__cm:before {
    position: absolute;
    content: "";
    left: -57px;
    width: 50px;
    height: 50px; }
  .product-features .product-features__leaf:before {
    background: url("../img/leaf.png") center center no-repeat; }
  .product-features .product-features__truck:before {
    background: url("../img/truck.png") center center no-repeat; }
  .product-features .product-features__cm:before {
    background: url("../img/cm.png") center center no-repeat; }

.radio {
  display: none; }

.radio + label {
  position: relative;
  cursor: pointer;
  z-index: 2000; }

.controls__label:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%; }

.controls__label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.radio:checked + label:before {
  border: 1px solid #fff;
  opacity: 1; }

.controls {
  position: absolute;
  top: 210px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.controls__label:not(:last-child) {
  margin-bottom: 20px; }

.feature {
  margin-bottom: 250px; }
  .feature__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .feature__container .feature__raspeberry {
      position: absolute;
      left: 0;
      bottom: -250px; }
    .feature__container .feature__head {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 20px;
      color: #0d0d0d; }
    .feature__container .feature__text {
      width: 400px;
      font-size: 18px;
      color: #666;
      margin-bottom: 85px; }
    .feature__container .feature__list {
      width: 950px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .feature__container .feature__list .feature__item:not(:last-child) {
        margin-right: 80px; }
      .feature__container .feature__list .feature__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .feature__container .feature__list .feature__item .feature__img {
          margin-bottom: 65px; }
        .feature__container .feature__list .feature__item .feature__title {
          font-size: 27px;
          font-weight: 700;
          color: #000;
          margin-bottom: 30px; }
        .feature__container .feature__list .feature__item .feature__discription {
          font-size: 18px;
          font-weight: 300;
          color: #666; }

.rewiews {
  margin-bottom: 200px; }
  .rewiews .rewiews__container {
    position: relative;
    padding-top: 120px; }
    .rewiews .rewiews__container .rewiews__strawberry {
      position: absolute;
      right: 5px;
      top: 30px; }
    .rewiews .rewiews__container .rewiews__anyberry {
      position: absolute;
      bottom: -210px;
      left: 0; }
    .rewiews .rewiews__container .rewiews__head {
      text-align: center;
      font-weight: 700;
      font-size: 48px;
      color: #0d0d0d;
      margin-bottom: 60px; }
    .rewiews .rewiews__container .rewiews-wrapper {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .rewiews .rewiews__container .rewiews-wrapper .rewiew {
        position: relative;
        width: 940px;
        height: 350px;
        padding: 50px 0 40px 45px;
        -webkit-box-shadow: -10.6px 7.5px 30px 0 rgba(145, 169, 157, 0.17);
        box-shadow: -10.6px 7.5px 30px 0 rgba(145, 169, 157, 0.17);
        background-color: #f8faf9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 50px; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew .rewiew__pattern {
          position: absolute;
          top: 0;
          right: 0; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew .rewiew__img-wrap {
          margin-right: 20px; }
          .rewiews .rewiews__container .rewiews-wrapper .rewiew .rewiew__img-wrap .rewiew__img {
            display: block;
            width: 250px;
            height: 260px;
            background-image: url("../img/rewiew-img.png"); }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew .rewiew__description {
          width: 435px;
          padding-top: 15px; }
          .rewiews .rewiews__container .rewiews-wrapper .rewiew .rewiew__description .rewiew__head {
            font-size: 30px;
            font-weight: 500;
            color: #323232;
            margin-bottom: 30px; }
          .rewiews .rewiews__container .rewiews-wrapper .rewiew .rewiew__description .rewiew__text {
            font-size: 18px;
            color: #666;
            margin-bottom: 30px; }
          .rewiews .rewiews__container .rewiews-wrapper .rewiew .rewiew__description .rewiew__author {
            font-size: 18px;
            color: #666; }
      .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls {
        height: 110px; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-radio {
          display: none; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__label:not(:last-child) {
          margin-right: 40px; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__label {
          position: relative;
          padding-left: 100px;
          cursor: pointer; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__rewiew-1:before, .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__rewiew-2:before, .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__rewiew-3:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 10px solid #fff; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__rewiew-1:before {
          background: url("../img/rewiew-1.png") center center no-repeat; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__rewiew-2:before {
          background: url("../img/rewiew-2.png") center center no-repeat; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-controls__rewiew-3:before {
          background: url("../img/rewiew-3.png") center center no-repeat; }
        .rewiews .rewiews__container .rewiews-wrapper .rewiew-controls .rewiew-radio:checked + label:before {
          border: 10px solid #0f5a47; }
