.feature__1,
.feature__2,
.feature__3 {
  width: 70px;
  height: 70px;
  margin-bottom: 65px; }

.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.75;
  stroke-miterlimit: 10; }

.st1 {
  fill: #FFFFFF; }

.st2 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.75;
  stroke-miterlimit: 10; }

.feature__3 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.75;
  stroke-miterlimit: 10; }
