.feature {
  text-align: center;
  &::after {
    content: "";
    width: rem(120px);
    height: rem(220px);
    position: absolute;
    background: url("../img/raspeberry.png");
    left: 0;
    bottom: rem(-100px);
    @include cover;
  }
}
.feature__container {
  padding-top:rem(75px);
  padding-bottom:rem(75px);
  align-items: center;
  justify-content: center;

  @include tablets{
    padding-top:rem(5px);
    padding-bottom:rem(5px);
    padding-left:10%;
    padding-right:10%;
  }
}

.feature__head-block {
  width:rem(400px);
  margin-bottom: rem(85px);

  @include tablets{
    margin-bottom: rem(20px);
  }

  @include phones{
    width:100%;
  }
}

.feature__title {
  margin-bottom: rem(20px);
  @include tablets {
    margin-bottom: rem(5px);
  }
}

.feature__head-block p {
  font-size: rem(18px);
  color: #666;

  @include  tablets{
    font-size: rem(16px);
  }
}

.feature__list {
  display: flex;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-items:center;
  }
}

.feature__item:not(:last-child) {
  margin-right: rem(80px);

  @include tablets{
    margin-right:0;
    margin-bottom:rem(10px);
  }
}

.feature__item {
  max-width:rem(280px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__item h3 {
  font-size: rem(27px);
  font-weight: 700;
  color: #000;
  margin-bottom: rem(30px);

  @include tablets {
    margin-bottom: rem(5px);
  }
  @include phones{
    font-size: rem(18px);
  }
}

.feature__item p {
  font-size: rem(18px);
  font-weight: 300;
  color: #666;
  @include tablets{
    font-size: rem(16px);
  }
  @include phones{
    font-size: rem(14px);
  }
}

.feature__1,
.feature__2,
.feature__3 {
  width: rem(70px);
  height: rem(70px);
  margin-bottom: rem(65px);
  @include tablets{
    width: rem(40px);
    height: rem(40px);
    margin-bottom: rem(10px);
  }
}


