.fixed-menu{
    position:fixed;
    z-index: 1000;
    top:32.7%;
    right:4.1%;
}

.fixed-menu__item{
    margin-bottom:5px;
}


.fixed-menu__link{
    position: relative;
    display:block;
    width:16px;
    height:16px;
}

.fixed-menu__link::before,
.fixed-menu__link::after{
    content: "";
    position:absolute;
    display: block;
    border-radius:50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

.fixed-menu__link::after{
    width:6px;
    height:6px;
    background-color:#fff;
}

.fixed-menu__link::before{
    width:0;
    height:0;
    border:2px solid #fff;
    opacity:0;
    transition: .3s;
}


.fixed-menu__item--active .fixed-menu__link::before,
.fixed-menu__link:hover::before{
    width:16px;
    height:16px;
    opacity:1;
}
