.header {
    width:100%;
    padding-top: rem(25px);
    margin-bottom: rem(100px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets{
      margin-bottom:0;
    }
  }
  
  .logo {
    width:rem(55px);
    word-wrap: break-word;
    color: #fff;
    font-family: MuseoSansCyrl;
    font-size: rem(24px);
    line-height: 0.88;
    margin-right:10px;
  }

  .navbar {
    display: flex;
    margin-right:5px;
    z-index: 500;

    @include tablets {
      display:none;
    }

  }
  .navbar__list {
    display: flex;
    align-items: center;
  }

  .navbar__item:not(:last-child){
    margin-right:rem(20px);
  }
  
  .navbar__link {
    font-size: rem(18px);
    color: #fff;
  }

  .phone-wrapper{
    display:flex;
    align-items: center;
  }

  .header-phone_wrapper{
    @include tablets{
      display: none;
    }
  }
  .phone {
    font-size: rem(24px);
    color: #fff;
    z-index: 500;

  
  }


  .phone__img{
    width:12px;
    height:12px;
    fill:#fff;
    margin-right:5px;
  }