.introduction {
  background-color: #61c4d9;
}

.introduction__container {
  justify-content: space-between;
  padding-bottom: 50px;
  background: url("../img/узор.png") center center no-repeat;
  background-position: right bottom;

  &::after {
    content: "";
    width: 503px;
    height: 650px;
    position: absolute;
    background: url("../img/Батончики.png") center 10px no-repeat,
      url("../img/introduction__berry.png") center 360px no-repeat;
    right: 30px;
    bottom: -50px;
    z-index: -50;
  }

  &::before {
    content: "";
    width: 1056px;
    height: 353px;
    position: absolute;
    background: url("../img/листья.png") center center no-repeat;
    right: 15px;
    bottom: -50px;
    z-index: -100;
  }
}
