.introduction {
  background: url("../img/introduction__pattern.png") right bottom no-repeat;
  background-color: #61c4d9;
  @include tablets {
    background-size: contain;
    background-position-y: top;
  }
}

.introduction__container {
  flex: 1;
  justify-content: space-between;
  padding-bottom: rem(50px);

  &::after {
    content: "";
    width: rem(388px);
    height: rem(286px);
    position: absolute;
    background: url("../img/introduction__berry.png");
    right: rem(30px);
    bottom: rem(-50px);
    z-index: 500;
    @include cover;
  }

  &::before {
    content: "";
    width: rem(1056px);
    height: rem(353px);
    position: absolute;
    background: url("../img/introduction__leaf.png");
    right: rem(15px);
    bottom: rem(-50px);
    @include cover;
    z-index: 10;
  }

  @include tablets {
    align-items: center;
    padding-bottom: rem(30px);
    &::after,
    &::before {
      display: none;
    }
  }
}

.introduction__chocco {
  max-width: rem(500px);
  max-height: rem(520px);
  position: absolute;
  right: rem(25px);
  top: rem(60px);
  background-position: cover;
  z-index: 0;

  @include tablets {
    max-width: rem(300px);
    max-height: rem(320px);
    position: relative;
    right: 0;
    top: rem(-40px);
    &:before {
      content: "";
      position: absolute;
      width: 15%;
      height: 30%;
      background: url("../img/img_768/one_leaf.png") center center no-repeat;
      background-size: contain;
      left: 0;
      bottom: rem(30px);
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 80%;
      background: url("../img/img_768/ягоды.png") center center no-repeat,
        url("../img/img_768/four_leaf.png") 80px center no-repeat;
      background-size: contain;
      top: rem(100px);
      right: rem(-20px);
    }
  }

  @include phones{
    max-width: 80%;
    max-height: 40%;
  }
}
