.menu{
    background-image: url('../img/menu__back.png');
    background-size: cover;
    background-color:black;

    &::after {
        content: "";
        width: rem(104px);
        height: rem(114px);
        position: absolute;
        background: url(../img/menu__raspeberry.png) center center no-repeat;
        left: rem(30px);
        top: rem(-70px);
        background-size: cover;
      }
}

.menu__title{
    position: absolute;
    color:white;
    top:10%;
    left:10%;
}

.menu__list{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    display: flex;
}

.menu__item{
    height:100%;
    display:flex;
}


.menu__block{
    display: block;
    height:100%;
    min-width:rem(100px);
    @include cover;
    position: relative;
    text-decoration: none;
    background-color:black;

    @include phones {
        max-width:rem(80px);
      }
}

.menu__block span{
    display:block;
    color:#fff;
    font-size:rem(48px);
    font-weight:500;

    text-align: center;
	white-space: nowrap;
     position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: rem(-20px);

}

.menu__accordion{
    display:none;
    position: relative;
    right:0;
    top:0;
    bottom:0;
    max-width:rem(630px);
    height: 100%;
    background: rgba(#000, .7);

    @include tablets{
        width: rem(400px);
    }
}

.menu__accordion p{
    text-align:justify;
    font-size: rem(16px);
    color:#fff;
	padding: rem(60px) rem(30px);
    width: 100%;
    line-height: 1.5;
}


.menu__item--active .menu__accordion{
    display:block;
 }
 

.menu__item--active{
    @include tablets{
        
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        z-index: 10;
    }
}






.menu__accordion-close{
    display: block;
    width:18px;
    height:18px;
    position: absolute;
    top:rem(20px);
    right:rem(20px);
    cursor:pointer;

    &:after, &:before{
        content:"";
        position: absolute;
        width:3px;
        height:21px;
        border-radius: 5px;
        background-color:#fff;
        right:50%;
    }

    &:after{
        transform: rotate(45deg);
    }

    &::before{
        transform: rotate(-45deg);
    }

    &:hover{
        &:after, &:before{
            background-color: red;
        }
    }


}






.menu__milk{
    background-image: url('../img/menu__milk.png');
}

.menu__fruits{

    background-image:url('../img/menu__fruits.png');

}

.menu__berry{
    background-image: url('../img/menu__berry.png');
 
}