.order {
    width: 400px;
    margin-bottom: 70px;
  }
  .order__head {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    line-height: 1;
    margin-bottom: 20px;
  }
  
  .order__description {
    font-size: 21px;
    color: #fff;
    margin-bottom: 30px;
  }
  
  
  .order__btn{
    color: #0f5a47;
    background-color: #fff;
  }