.order {
    width: 50%;
    z-index:50;
    padding-top:rem(50px);

    @include tablets{
      width:70%;
      display:flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom:rem(10px);
    }
    @include phones{
      width:80%;
    }
  }
  .order__head {
    font-weight: 700;
    font-size: rem(60px);
    color: #fff;
    line-height: 1;
    margin-bottom: rem(20px);
    @include tablets {
      font-size:rem(30px);
      margin-bottom: 0;
    }
  }
  
  .order__description {
    font-size: rem(21px);
    color: #fff;
    margin-bottom: rem(30px);
    @include tablets {
      font-size: rem(18px);
      margin-bottom:rem(5px);
    }
  }
  

  .order__btn{
    color: #0f5a47;
    background-color: #fff;
  }