.rewiews {
  &::after {
    content: "";
    position: absolute;
    background: url("../img/rewiews__strawberry.png");
    width: rem(173px);
    height: rem(99px);
    top:rem(20px);
    right:0;
    @include cover;
    @include tablets{
      right:rem(-35px);
      }
  }

  &::before {
    content: "";
    position: absolute;
    background: url("../img/rewiews__anyberry.png");
    width: rem(154px);
    height: rem(224px);
    bottom: 0;
    left: 0;
    @include cover;
    @include tablets{
    left:rem(-40px);
    }
  }
}

.rewiews__container {
  align-items:center;

  @include tablets{
    padding-top:rem(80px);
    padding-bottom:rem(70px);
  }

}

.rewiews__title {
  text-align: center;
  margin-bottom: rem(60px);
}
