.rewiew {
    display:flex;
    position: relative;
    padding: rem(50px) rem(130px) 0 0;
    margin-bottom: rem(50px);

    &::before{
      content:"";
      width: rem(130px);
      height:rem(170px);
      position: absolute;
      top:0;
      right:0;
      background:url('../img/rewiews__pattern.png');
      @include cover;
      @include tablets {
        width: rem(90px);
      height:rem(120px);
      }
    }

    @include tablets {
      margin-bottom:rem(10px);
      padding:rem(30px) rem(30px) 0 rem(30px) ;
    }
  }



  .rewiew__item{

      display:none;
      z-index: 10;
  }

  .rewiew__item--active{
      display:flex;
      

    @include tablets{
      flex-direction: column;
      justify-content:center;
      align-items: center;
      text-align: center;
    }
  }
  .rewiew__pattern {
    position: absolute;
    top: 0;
    right: 0;
  }

  .rewiew__img {
    width: rem(250px);
    height: rem(260px);
    margin-right:rem(20px);
    @include tablets{
      width: rem(200px);
      height: rem(210px);
      margin-right:0;
    }
  }


  .rewiew__description {
    max-width: rem(435px);
  }
  .rewiew__head {
    font-size: rem(30px);
    font-weight: 500;
    color: #323232;
    margin-bottom: rem(25px);

    @include tablets{
      margin-bottom: rem(5px);
    }
  }
  .rewiew__text {
    font-size: rem(18px);
    color: #666;
    margin-bottom: rem(25px);
    @include tablets{
      margin-bottom: rem(5px);
    }
  }
  .rewiew__author {
    font-size: rem(18px);
    color: #666;
  }