.rewiew {
    display:flex;
    position: relative;
    padding: rem(50px) rem(130px) 0 0;
    margin-bottom: rem(50px);

    &::before{
      content:"";
      width: rem(130px);
      height:rem(170px);
      position: absolute;
      top:0;
      right:0;
      background:url('../img/rewiews__pattern.png');
      @include cover;
    }

    @include tablets {
      padding:rem(50px) rem(30px);
    }
  }



  .rewiew__item{
      width:100%;
      display:none;
  }

  .rewiew__item--active{
      display:flex;
      

    @include tablets{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .rewiew__pattern {
    position: absolute;
    top: 0;
    right: 0;
  }

  .rewiew__img {
    width: rem(250px);
    height: rem(260px);
    margin-right:rem(20px);
  }

  .rewiew__img img{
    width:100%;
    height:100%;
  }
  
  .rewiew__description {
    width: rem(435px);
    padding: rem(15px) 0;
  }
  .rewiew__head {
    font-size: rem(30px);
    font-weight: 500;
    color: #323232;
    margin-bottom: rem(30px);
  }
  .rewiew__text {
    font-size: rem(18px);
    color: #666;
    margin-bottom: rem(30px);
  }
  .rewiew__author {
    font-size: rem(18px);
    color: #666;
  }